# IDE settings
.idea/
.vscode/

# Build directories
**/*build*/
## API documentation build directory
docs/src/api/developer/

# Install directories
**/*install*/

# Python virtual environments
**/*venv*/