name: CMaize Integration Tests

on:
  # This is correct
  # push:
  #   branches:
  #     - master
  # This is for testing
  pull_request:
    branches:
      - master

  # Allows manual triggering with the "Run workflow" button
  workflow_dispatch:

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # cmake: [3.14.7, 3.15.5, 3.16.3, 3.22.4, 3.23.1, 3.26.3]
        cmake: [3.26.3]

    env:
      cmake_version: ${{ matrix.cmake }}
      cores: 2
      os: linux-x86_64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Get latest CMake and Ninja
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: ${{ cmake_version }}
          useLocalCache: true         # <--= Use the local cache (default is 'false').
          useCloudCache: false        # <--= Ditch the cloud cache (default is 'true').

      - name: Configure Project
        run: >
          cmake
          -H.
          -Bbuild
          -DBUILD_TESTING=ON
          -DCMAKE_MESSAGE_LOG_LEVEL=DEBUG
          -DCMAIZE_GITHUB_TOKEN=${{secrets.CMAKEPRIVATE_TOKEN}}

      - name: Integration Tests
        run: |
          cd build
          ctest --output-on-failure -L integration_tests --verbose
